/* Colors */
$paragraph-color: #000000;
$brand-main-color: #ff0000;
$just-white-color: #ffffff;
$panel-gray-color: #818181;
$orange-active-color: #F58220;
/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$brand-font: "Open Sans",
  Helvetica,
  Arial;
$paragraph-font: "Open Sans",
  Helvetica,
  Arial;
$title-font : "Roboto",
  sans-serif;