.chart-container {
  position: relative;
  margin-top: 10px;
}

.chart2-button {
  text-align: center;

  button {
    border-bottom: 2px solid lightgrey;
  }
}

.general-content {
  justify-content: center;

  .background-buttons {
    margin: 0 auto;

    .btn-lg-key {
      margin-right: 30px;
    }
  }
}

.main-page-background {
  .btn-sm-orange {
    margin-left: 20px;
  }
}

.links {
  font-family: $title-font;
  font-weight: bold;

  .link {
    display: flex;

    h3 {
      width: 50%;
      margin-left: 18px;

    }

    a {
      color: #56819F;
      text-decoration: none;
      margin: 30px 0;
    }
  }

  .space {
    background-color: lightgrey;
  }
}

.chart {
  background-color: $just-white-color;
  transition: transform 0.3s;
}

.chart1 {
  display: flex;
}

.chart2 {
  margin-top: 1vw;
  display: flex;
}

.component-background {
  min-height: 500px;
  height: 100%;
  width: 100%;
  background-color: white;

  .container {
    margin-top: 50px;

    .row {
      justify-content: center;
    }
  }

  h1 {
    margin: 0;
    padding: 15px;
    border-bottom: 2px solid lightgrey;
  }

  .name-of-link {
    margin-left: 18px;
  }
}

.upper-border {
  border-top: 2px solid lightgrey;
}

.main-page-background {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid lightgrey;
  padding: 50px;
}

.background-buttons {
  button {
    justify-self: center;
  }
}

.background-list {
  display: flex;
  justify-content: center;

  ol {
    min-width: 300px;
    padding: 0;
    margin-right: 66px;

    li {
      display: flex;
      height: 70px;

      h3 {
        width: 80%;
      }

      p {
        width: 20%;
        margin: 30px 0;
        padding: 0 10px 10px 10px;
      }
    }
  }
}

.background-list ol li {
  border-bottom: 2px solid lightgrey;
}

.show.charts {
  transition: all 0.3s ease;
  padding-left: 16px;
}

.links .col {
  flex: 0 1 70%;
}

.elem__margin {
  flex: 0 1 70%;
}

@media (max-width: 1280px) {
  .elem__margin {
    flex: 0 auto;
  }
}

@media (max-width: 1060px) {
  .chart-container {
    img {
      width: 650px;
    }
  }

  .background-list {
    ol {
      margin-right: 10px;
    }
  }

  .links {
    .row {
      margin-right: 10px;
    }

    .col {
      flex: 0 1 90%;
    }
  }
}

@media (max-width: 992px) {
  .charts {
    padding: 7px !important;
  }

}

@media (max-width: 700px) {
  .chart-container img {
    width: 360px;
  }
}