.panel-content {
  position: absolute;
  width: 189px;
  height: 100%;
  background-color: #191919;
  font-family: $title-font;
  z-index: 200;
  transition: transform 0.3s;

  .pagelogo {
    color: $just-white-color;
    margin: 18px 0 19px 20px;
    height: 23px;


    img {
      display: block;
      position: absolute;
    }
  }

  ul {
    padding: 0;
    list-style-type: none;
    justify-content: center;

    a {
      text-decoration: none;
      color: $gray-color;
    }

    .active {
      background-color: #282828;

      p {
        color: $just-white-color;
      }


      .panel-icon {
        filter: brightness(0.5) invert(1) opacity(1);
      }
    }

    .active::after {
      position: absolute;
      content: '';
      height: 45px;
      width: 5px;
      left: 0%;
      background-color: $orange-color;
    }

    li {
      padding-left: 18px;
      height: 45px;

      .panel-icon {
        max-width: 20px;
        max-height: 15px;
        filter: brightness(0.5) invert(1) opacity(0.5);
        margin-top: 13px;
        position: absolute;
      }

      p {
        position: absolute;
        padding: 14px 0 0 30px;
        margin: 0;
        font-size: 14px;
      }
    }
  }
}

.space {
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  background-color: #333333;
}

.second-panel {
  margin: 50px 10px 20px 20px;
  font-size: 14px;

  h4 {
    color: $gray-color;
    text-transform: uppercase;
    height: 14px;
  }

  img {
    position: absolute;
  }

  p {
    padding: 15px 0 0 50px;

    a {
      text-decoration: none;
      color: #56819F;
    }
  }
}

.mobile-overlay {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  opacity: 0;
  visibility: hidden;
}

.menu-hamburger {
  transition: all 0.4s ease;
  position: absolute;
  color: $just-white-color;
  font-size: 20px;
  z-index: 100;
  left: 155px;
  top: 20px;
  z-index: 201;
}

.show .menu-hamburger {
  width: 50px;
  height: 50px;
  background-color: #191919;
  border-radius: 5px;
  box-shadow: 0 2px 5px black;
  top: 120px;
  left: 30px;
  position: fixed;
}

.show .panel-content {
  transform: translateX(-250px);
}

.show.panel i {
  margin-top: 5px;
  margin-left: 7px;
  color: white;
  font-size: 40px;
}

@media (max-width: 992px) {
  .panel {
    position: fixed !important;
  }

  .mobile-overlay {
    opacity: 1;
    visibility: visible;
  }

  .show .mobile-overlay {
    opacity: 0;
    visibility: hidden;
  }
}

/* @media (max-width: 1000px) {
    .panel-content {
    visibility: hidden;
  }

  .menu-hamburger::after {
    visibility: visible !important;
    position: fixed;
  }

  .menu-hamburger::before {
    visibility: visible !important;
    position: fixed;
  }


} */