.component-calendar {
  display: flex;
  justify-content: start;

  .btn-sm-orange {
    margin-left: 20px;
    margin-top: 1px;
  }

  .calendar-box {
    background-color: $just-white-color;
    width: 240px;
    height: 41px;
    margin: 0;
    border: 1px solid lightgrey;
    display: flex;
    align-items: center;

    p {
      display: inline-block;
      margin-left: 10px;
      margin-right: auto;
      font-family: Arial;
      font-size: 14px;
    }

    img {
      color: $gray-color;
      padding: 10px;
      width: 13px;
      height: 13px;
      filter: brightness(1) invert(0.5) opacity(1);


    }
  }
}