.panel-content {
  display: inline-block;
  background-color: #191919;
  width: 100%;
  height: 100%;
}

.panel {
  position: fixed;
  width: 12vw;
  height: 100%;
  background-color: #191919;
  overflow: hidden;
  font-family: $title-font;

  .pagelogo {
    color: $just-white-color;
    margin: 18px 0 19px 20px;
    height: 23px;

    .hamburger {
      float: right;
      margin: 5px 19px 0 0;
    }

    img {
      display: block;
      float: left;
    }
  }

  ul {
    padding: 0;
    list-style-type: none;
    justify-content: center;

    a {
      text-decoration: none;
      color: $gray-color;
    }

    .active {
      background-color: #282828;

      p {
        color: $just-white-color;
      }


      .panel-icon {
        filter: brightness(0.5) invert(1) opacity(1);
      }
    }

    .active::after {
      position: absolute;
      content: '';
      height: 45px;
      width: 5px;
      left: 0%;
      background-color: $orange-color;
    }

    li {
      padding-left: 18px;
      height: 45px;

      .panel-icon {
        max-width: 20px;
        max-height: 15px;
        filter: brightness(0.5) invert(1) opacity(0.5);
        margin-top: 13px;
        position: absolute;
      }

      p {
        position: absolute;
        padding: 14px 0 0 30px;
        margin: 0;
        font-size: 14px;
      }
    }
  }
}

.space {
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  background-color: #333333;
}

.second-panel {
  margin: 50px 10px 20px 20px;
  font-size: 14px;

  h4 {
    color: $gray-color;
    text-transform: uppercase;
    height: 14px;
  }

  img {
    position: absolute;
  }

  p {
    padding: 15px 0 0 50px;

    a {
      text-decoration: none;
      color: #56819F;
    }
  }
}

@media (max-width: 1350px) {
  .panel {
    .pagelogo {
      img {
        display: none;
      }

      p {
        margin: 5px 65px 0 30px !important;
      }

      i.fas.fa-bars {
        font-size: 30px;
      }
    }
  }
}

@media (min-width: 600px) and (max-width: 1200px) {
  .panel {
    width: 150px;
  }
}

@media (max-width: 1000px) {
  .panel {
    height: 6.44vh;

  }
}