.nav-content {
  padding: 0;
  margin: 0;
  height: 61px;
  display: flex;
  justify-content: flex-end;

  .navigation-icon {
    margin: 22px 20px 21px 21px;
    width: 16px;
    height: 17px;
    filter: brightness(1) invert(0.7) opacity(1);
  }

  .arrow {
    max-width: 11px;
    max-height: 7px;
    margin-top: 29px;
  }

  .money {
    font-size: 20px;
    color: #9C9C9C;
    font-family: $title-font;
    text-align: center;
  }

  .name {
    margin: 23px 18px 0 0;
    font-size: 13px;
    color: #56819F;
    text-align: center;
  }

  .notification-img {
    margin: 0;
    left: 6px;
    top: 1px;
    position: relative;
  }

  .notification {
    margin: 21px 31px 21px 21px;
  }

  .navigation-line::before {
    content: '';
    position: absolute;
    height: 61px;
    width: 2px;
    background-color: #E3E3E3;
  }

  a:hover {
    background-color: #F3F3F1;
  }

  .notification::after {
    content: '';
    position: absolute;
    height: 9px;
    width: 9px;
    background-color: #F58220;
    border-radius: 50%;

  }
}

.wrapper-money,
.wrapper-profile,
.wrapper-logout,
.wrapper-notification {
  display: flex;
  justify-content: center;
}

@media (max-width: 992px) {
  .nav {
    padding: 0;
  }

  .nav-content {
    justify-content: space-between;
  }

  .notification {
    text-align: center;
  }

  .wrapper-logout svg {
    width: 100% !important;
  }

  .nav-content .navigation-icon {
    width: 13%;
    min-width: 20px;
  }

}

@media (max-width: 678px) {
  .nav-content .wrapper-profile svg {
    margin-right: 4px !important;
  }
}

@media (max-width: 623px) {
  .nav-content .name {
    margin-top: 16px;
  }
}

@media (max-width: 450px) {
  .arrow {
    display: none;
  }

  .wrapper-money .navigation-icon {
    margin-right: 2px;
    margin-left: 2px;
  }

  .notification {
    margin-right: 11px;
    margin-left: 0px;
  }
}